* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightcoral;
}
.container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.time {
  text-align: center;
}
.controls {
  text-align: center;
}
#startBtn {
  background-color: rgb(245, 28, 28);
}
#mainSVG {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#mainCircle {
  stroke-dasharray: 817;
  stroke-dashoffset: 817;
  stroke-width: 18;
  fill: transparent;
}
#mainCircle.startRun {
  stroke: #c41414;
  animation: fillMain 1500s linear infinite forwards;
}

#mainCircle.startBreak {
  stroke: #142ec4;
  animation: fillMain 300s linear infinite forwards;
}
#mainCircle.startLongBreak {
  stroke: #730dc7;
  animation: fillMain 1800s linear infinite forwards;
}

@keyframes fillMain {
  0% {
    stroke-dashoffset: 817;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#minuteCircle {
  stroke-dasharray: 943;
  stroke-dashoffset: 943;
  stroke-width: 8;
  fill: transparent;
}
#minuteCircle.startRun {
  stroke: #a71f1f;
  animation: fillMinute 60s linear infinite forwards;
}
#minuteCircle.startBreak {
  stroke: #1c48a7;
  animation: fillMinute 60s linear infinite forwards;
}
#minuteCircle.startLongBreak {
  stroke: #8b2cc2;
  animation: fillMinute 60s linear infinite forwards;
}

@keyframes fillMinute {
  0% {
    stroke-dashoffset: 943;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
