* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightcoral;
}
.topContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circleOutline {
  stroke: rgb(231, 147, 147);
  stroke-width: 18;
  fill: transparent;
}

#time {
  position: absolute;
  text-align: center;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 3.5em;
  visibility: hidden;
  pointer-events: none;
}
#startBtn {
  position: absolute;
  background-color: rgb(245, 28, 28);
  font-family: "Audiowide", sans-serif;
  padding: 1px 3px;
  border-radius: 50%;
  width: 242px;
  height: 242px;
}
#startBtn img {
  height: 100px;
  width: 100px;
}
#startBtn:hover {
  background-color: rgb(196, 44, 44);
}
#startBtn:disabled {
  opacity: 0.6;
  background-color: rgb(245, 28, 28);
  cursor: not-allowed;
}
#startBtn.startWork {
  background-color: rgb(252, 0, 0);
}
#startBtn.startBreak {
  background-color: blue;
}
#startBtn.startLongBreak {
  background-color: purple;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cylinderContainer {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e94528;
  height: 50px;
  width: 200px;
  border-radius: 50px;
}
#restartBtn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1px 3px;
}

#restartBtn img {
  height: 30px;
  width: 30px;
}
#cycleBtn {
  font-family: "Audiowide", sans-serif;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1px 3px;
}
#informationBtn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1px 3px;
}
#restartBtn:hover,
#cycleBtn:hover,
#informationBtn:hover {
  background-color: rgb(219, 181, 181);
}
#mainCircle {
  stroke-dasharray: 816.92919921875;
  stroke-dashoffset: 816.92919921875;
  stroke-width: 18;
  transform: rotate(-90deg);
  transform-origin: center;
  fill: transparent;
}
#mainCircle.startWork {
  stroke: #c41414;
  animation: fillMain 1504.5s linear infinite forwards running;
}

#mainCircle.startBreak {
  stroke: #142ec4;
  animation: fillMain 300s linear infinite forwards running;
}
#mainCircle.startLongBreak {
  stroke: #730dc7;
  animation: fillMain 1800s linear infinite forwards running;
}
#mainCircle.paused {
  animation-play-state: paused;
}

@keyframes fillMain {
  0% {
    stroke-dashoffset: 816.92919921875;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
