* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightcoral;
}
.container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 1.2%;
  background-color: #ff000027;
  border-radius: 1.5vw;
  border: 2px solid firebrick;
  outline: None;
  border-color: #c41414;
  box-shadow: 0 0 10px #c41414;
}
.time {
  text-align: center;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 1.4em;
}
.controls {
  text-align: center;
  padding: 1px;
}
#startBtn {
  background-color: rgb(245, 28, 28);
  font-family: "Audiowide", sans-serif;
  border-radius: 1.5vw;
  display: inline-block;
  padding: 1px 3px;
}
#startBtn:hover {
  background-color: rgb(252, 0, 0);
}
#startBtn:disabled {
  opacity: 0.6;
  background-color: rgb(245, 28, 28);
  cursor: not-allowed;
}
#restartBtn {
  font-family: "Audiowide", sans-serif;
  border-radius: 1.5vw;
  display: inline-block;
  padding: 1px 3px;
}
#restartBtn:hover {
  background-color: rgb(219, 181, 181);
}
#mainSVG {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#mainCircle {
  stroke-dasharray: 817;
  stroke-dashoffset: 817;
  stroke-width: 18;
  fill: transparent;
}
#mainCircle.startWork {
  stroke: #c41414;
  animation: fillMain 1500s linear infinite forwards;
}

#mainCircle.startBreak {
  stroke: #142ec4;
  animation: fillMain 300s linear infinite forwards;
}
#mainCircle.startLongBreak {
  stroke: #730dc7;
  animation: fillMain 1800s linear infinite forwards;
}

@keyframes fillMain {
  0% {
    stroke-dashoffset: 817;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillMinute {
  0% {
    stroke-dashoffset: 943;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
